body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #838487;
}

a:hover {
    color: #6c8ae1;
}

.hero-header, footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    /* border: 1px solid white; */

    display: flex;
    width: 1150px;
    color: white;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size: 18px;
}

.header > div {
    /* border: 1px solid white; */
    margin: 18px 0px;
    width: 400px;
    color: #838487;
    display: flex;
    justify-content: space-between;
}

.pull-quote {
    background-color: #E5E7EB;
}