body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #6c8ae1;
}

.hero-header, footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    width: 1150px;
    color: white;
    justify-content: space-between;
}

.logo {
    font-weight: 900;
    font-size:24px;
}

.header > div {
    margin: auto 0px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 100;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 1150px;
    padding: 75px 0px;
    justify-content: space-between;
}

.hero-left {
    width: 450px;
    color: white;
    font-weight: 100;
    font-size: 18px;
}

.hero-text {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.hero-image {
    width: 600px;
    height: 214.5px;
}

button {
    padding: 5px 25px;
    color: white;
    background-color: #3882f6;
    border: 0px;
    border-radius: 5px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: row;
}

.pull-quote {
    background-color: #E5E7EB;
}

.images img {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 200px;
}